<footer>
    <div class="d-f-r jc-se ai-c" id="main_footer">
        <div class="footer_section d-f-c" id="about">
            <span id="about_heading">About Us</span>
            <span id="about_description">
                Team Defianz-DTUSDC Racing is 40 member strong Formula Student team hailing from Delhi Technological
                University (Formerly DCE), New Delhi, India. The team builds reliable and advanced formula cars every
                year and has been participating in national and International Formula Student competitions since 2003,
                namely Formula Bharat, FS United Kingdom, FS Czech Republic etc.
            </span>
        </div>
        <div class="footer_section d-f-c" id="social_section">
            <span id="connect_heading">Connect with Us</span>
            <span class="d-f-r ai-c f-w" id="social">
                <a target="_blank" id="instagram" href="https://www.instagram.com/defianzracing_dtusdc/">
                    <img class="social_icons" src="/imgs/icons/instagram.svg">
                </a>
                <a target="_blank" id="facebook" href="https://www.facebook.com/teamdefianzracing/">
                    <img class="social_icons" src="/imgs/icons/facebook.svg">
                </a>
                <a target="_blank" id="twitter" href="https://twitter.com/defianzracing">
                    <img class="social_icons" src="/imgs/icons/twitter.svg">
                </a>
                <a target="_blank" id="youtube" href="https://www.youtube.com/channel/UCEC1PN-1uYcdD9ysQ6s-piw">
                    <img class="social_icons" src="/imgs/icons/youtube.svg">
                </a>
                <a target="_blank" id="linkedin" href="https://www.linkedin.com/company/defianzracing/">
                    <img class="social_icons" src="/imgs/icons/linkedin.svg">
                </a>
            </span>
        </div>
        <div id="address-footer" class="footer_section d-f-r ai-c jc-sa">
            <span class="d-f-c jc-c" style="margin-right: 2vw;">
                <span id="address_heading">Address</span>
                <span id="location">
                    Wind Tunnel Workshops,<br>
                    Delhi Technological University,<br>
                    Shahbad Daulatpur, Bawana,<br>
                    Delhi - 110042 <br>
                    India
                </span>
            </span>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7540.270575458479!2d77.11346970424815!3d28.75046220986255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d00d89350de4b%3A0xe4c157e40b754d96!2sWind%20Tunnel%20Lab!5e0!3m2!1sen!2sbh!4v1618739408851!5m2!1sen!2sbh"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</footer>