<link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet'>

<header>
    <a href="/"><img id="logo" src="/imgs/logos/black_transparent.png" alt=""></a>
    <div id="nav_bar">
        <a href="/team">Team</a>
        <a href="/sponsors">Sponsors</a>
        <a href="/gallery">Gallery</a>
        <a href="/contact">Contact Us</a>
    </div>
    <div id="login"><button>
        <a href="/login">Login</a></button>
    </div>
</header>
