<link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/js/_header.js"></script>

<header class="d-f-r jc-sb" onload="positionMenu()">
	<a href="/"><img id="logo" src="/imgs/logos/black_transparent.png"></a>
	<div class="container borderYtoX d-f-r jc-sb ai-c" id="nav_bar">
		<a href="/team">Team</a>
		<a href="/about_fs">About FS</a>
		<a href="/sponsors">Sponsors</a>
		<a href="/gallery">Gallery</a>
		<a href="/contact">Contact Us</a>
	</div>
	<div class="d-f jc-c ai-c" id="login_bar">
		<% if(locals.user) {%>
			<a href="/user/profile/<%= locals.user.user %>" class="d-f ai-c username" id="user">
				<img src="/imgs/icons/user.png">
				<%= user.user %>
			</a>
			<% }%>
				<% if(locals.user) {%>
					<a class="d-f ai-c jc-c username" href="/user/logout">
						<img src="/imgs/icons/log.png">Logout
					</a>
					<% } else {%>
						<a class="d-f ai-c jc-c username" href="/login">
							<img src="/imgs/icons/log.png">Login
						</a>
						<% } %>
	</div>
	<span class="menu-btn d-f ai-c jc-c" onclick="toggleMenu()">&#9776; Menu</span>
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="icon" onclick="toggleMenu()">&times;</a>
		<div id="menu-opt">
			<a href="/">Home</a>
			<a href="/team">Team</a>
			<a href="/about_fs">About FS</a>
			<a href="/sponsors">Sponsors</a>
			<a href="/gallery">Gallery</a>
			<a href="/contact">Contact Us</a>
		</div>
		<div style="margin-top: 5vh;">
			<% if(locals.user) {%>
				<a class="d-f-r ai-c jc-c" href="/user/profile/<%= locals.user.user %>">
					<img src="/imgs/icons/user.png">&numsp;<%= user.user %>
				</a>
				<% }%>
					<% if(locals.user) {%>
						<a class="d-f-r ai-c jc-c" href="/user/logout">
							<img src="/imgs/icons/log.png">&numsp;Logout
						</a>
						<% } else {%>
							<a class="d-f-r ai-c jc-c" href="/login">
								<img src="/imgs/icons/log.png">&numsp;Login
							</a>
							<% } %>
		</div>
	</div>
</header>
