<link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet'>

<header id="header">
    <a href="/"><img id="logo" src="/imgs/logos/black_transparent.png" alt=""></a>
    <div class="container borderYtoX" id="nav_bar">
        <a  href="/team">Team</a>
        <a class="container borderYtoX" href="/sponsors">Sponsors</a>
        <a class="container borderYtoX" href="/gallery">Gallery</a>
        <a class="container borderYtoX" href="/contact">Contact Us</a>
    </div>
    <div id="login">
        <a href="/login"> <button>Login</button></a>
    </div>
</header>
