<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="About page for official website for Team Defianz DTUSDC Racing">
	<meta name="keywords"
		content="TDR-DTUSDC, Team Defianz Racing, DTUSDC, DTU Self-Drving Car, Team Defianz-DTU Self Driving Car Project, Official TDR-DTUSDC Website, Official website">
	<meta name="author" content="Krushnal Patel">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TDR-DTUSDC Website - Template</title>
	<link rel="stylesheet" href="/css/common.scss">
	<link rel="stylesheet" href="/css/about.scss">
	<link rel="stylesheet" href="/css/_header.scss">
	<link rel="stylesheet" href="/css/_footer.scss">
</head>

<body id="body" onload="load()">
	<%- include('_header'); %>
		<main class="d-f-c jc-c">
			<section>
				<div class="vision-mission">
					<h1>About Formula Student</h1>
					<p>
						"Formula Student" is the world's biggest competition for engineers. Every year competitions are held all across the globe.
						Founded by the "Society of Automotive Engineers" in 1981, the first competition in Europe took place in 1998. At present there
						are more than 600 teams from universities all over the world competing with their self-constructed race cars. The winner is
						not necessarily the team with the fastest car, but the one with the best package regarding construction, performance,
						financial planning and sales arguments.
						<br><br>
						After creating the electric class in 2010, the competition followed up with the technical trends and created the new
						driverless class, which came about in 2017. The objective of FSD (Formula Student Driverless), is to attract students from
						other fields who in the past have been foreign to Formula Student competitions. These include students from areas such as
						informatics and robotics. The goal for the students is to build autonomous cars which are capable to complete different
						disciplines without a driver.
						<br><br>
						The introduction of FSD is the consequent further development of the competition and is ideal in order to prepare students for
						the continuously changing requirements of working life. Networking, software and teamwork are fundamental to the development
						of the project.
					</p>
				</div>
			</section>
		</main>
		<%- include('_footer'); %>
</body>

</html>
