<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Error. Something might have gone wrong. TDR-DTUSDC">
    <meta name="keywords"
        content="TDR-DTUSDC, Team Defianz Racing, defianz dtu, dtusdc dtu, DTUSDC, DTU Self-Drving Car, Team Defianz-DTU Self Driving Car Project, Official TDR-DTUSDC Website, Official website">
    <meta name="author" content="Krushnal Patel">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | TDR-SDC</title>
    <link rel="stylesheet" href="/css/common.scss">
    <link rel="stylesheet" href="/css/error.scss">
    <link rel="stylesheet" href="/css/_header.scss">
    <link rel="stylesheet" href="/css/_footer.scss">
</head>

<body id="body" onload="load()">
    <%- include('_header'); %>
        <div id="heading_background"></div>
        <div class="d-f-c ai-c" id="placeholder">
            <%if(locals.error) {%>
                <span id="error_heading">
                    Error <%= locals.error_code%>
                </span>
                <span class="error_content">
                    <%= locals.error_message%>
                </span>

                <% } else { %>
                    <span id="error_heading">Error 404</span>
                    <span class="error_content">The page you were looking for was not found.</span>
                    <% } %>
                        <span class="error_content">Please check your URL again or go to our
                            <a href="/">home page.</a></span>
        </div>

        <%- include('_footer'); %>
</body>

</html>