<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Homepage for the official website of Team Defianz DTUSDC Racing">
    <meta name="keywords"
        content="TDR-DTUSDC, Team Defianz Racing, defianz dtu, dtusdc dtu, DTUSDC, DTU Self-Drving Car, Team Defianz-DTU Self Driving Car Project, Official TDR-DTUSDC Website, Official website, defianz racing, dtu, Delhi Technological University, dtusdc project, formula student, formula bharat, dtu f1 car, dtu autonomous car, dtu tech team, homepage, home">
    <meta name="author" content="Krushnal Patel">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="HEDcR8J4XqlQvD2eG_FDP-bfdgbMo6I2LJNCPBLuhbA" />
    <title>TDR-DTUSDC - Home</title>
    <link rel="icon" href="/imgs/logos/black_transparent.png">
    <link rel="stylesheet" href="/css/common.scss">
    <link rel="stylesheet" href="/css/home.scss">
    <link rel="stylesheet" href="/css/_header.scss">
    <link rel="stylesheet" href="/css/_footer.scss">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/home.js"></script>
</head>

<body id="body" onload="team_section_height()" onscroll="home()">
    <!-- <div class="loader d-f ai-c jc-c"></div> -->
    <%- include('_header'); %>
        <div id="car_photo"></div>
        <div class="d-f-c ai-c jc-c" id="team_descriptions">
            <div class="d-f-r jc-se" id="individual_team_descript">
                <div class="d-f-c jc-c ai-c" id="defianz_descript">
                    <h2>
                        Team Defianz Racing
                    </h2>
                    <p>
                        Team Defianz Racing is the Formula Student team of Delhi Technological University that
                        builds progressively reliable and advanced, high-performance race-ready Formula style
                        cars every year and competes in national and international Formula Student competitions. The
                        team made a switch to the Electric Vehicle category under Formula Student this year, thus
                        starting a new chapter. The team saw a very successful run in the FSEV Concept Challenge and
                        is currently moving ahead with the research and development of electric vehicles, to
                        translate the concept into a fully functional vehicle.
                    </p>
                </div>
                <div class="d-f-c jc-c ai-c" id="sdc_descript">
                    <h2>
                        DTU Self Driving Cars
                    </h2>
                    <p>
                        DTU-SDC (DTU Self Driving Car Project) was established in 2017 by a group of undergraduate
                        students to create anenvironment for research, technical incubation, and development of
                        state-of-the-art technology in the field of Autonomous Vehicles. The team is driven by a
                        passion to lead the infusion of self-driving vehicles in India. Being a non-profit student
                        team we believe that a problem set of this sort needs to have solutions being implemented at
                        the grassroots level in India where highly stochastic conditions pose a multitude of
                        challenges.
                    </p>
                </div>
            </div>
            <div class="d-f-c ai-c jc-c" id="merge_team_descript">
                <h1>
                    Team Defianz-DTUSDC Racing Collaboration
                </h1>
                <p>
                    We are Defianz-DTUSDC. With renowned names and a valuable list of achievements, the two teams
                    collaborated in 2020, and our journey began. We aim towards a common goal of becoming India’s
                    first Formula student team to manufacture an Autonomous vehicle. We endeavor
                    to establish our team as one of the best autonomous-vehicle teams in the coming Formula Student
                    competitions.
                </p>
            </div>
        </div>
        <div class="d-f-r ai-c jc-c f-q" id="achievements">
            <div class="achivement-card">
                <div class="achievement-count d-f ai-c jc-c" id="cars"></div>
                <div class="achievement-desc d-f ai-c jc-c">
                    <img src="/imgs/icons/f1.svg">&numsp;Cars Built
                </div>
            </div>
            <div class="achivement-card">
                <div class="achievement-count d-f ai-c jc-c" id="achievement"></div>
                <div class="achievement-desc d-f ai-c jc-c">
                    <img src="/imgs/icons/achievement.svg">&numsp;Achievments
                </div>
            </div>
            <div class="achivement-card">
                <div class="achievement-count d-f ai-c jc-c" id="awards"></div>
                <div class="achievement-desc d-f ai-c jc-c">
                    <img src="/imgs/icons/trophy.svg">&numsp;Awards
                </div>
            </div>
            <div class="achivement-card">
                <div class="achievement-count d-f ai-c jc-c" id="team-members"></div>
                <div class="achievement-desc d-f ai-c jc-c">
                    <img src="/imgs/icons/team.svg">&numsp;Team Members
                </div>
            </div>
            <div class="achivement-card">
                <div class="achievement-count d-f ai-c jc-c" id="sponsors"></div>
                <div class="achievement-desc d-f ai-c jc-c">
                    <img src="/imgs/icons/deal.svg">&numsp;Sponsors
                </div>
            </div>
            <div class="achivement-card">
                <div class="achievement-count d-f ai-c jc-c" id="alumni"></div>
                <div class="achievement-desc d-f ai-c jc-c">
                    <img src="/imgs/icons/alumni.png">&numsp;Alumni Network
                </div>
            </div>
        </div>
        <%- include('_footer'); %>
</body>

</html>
