<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TDR-SDC Website</title>
    <link rel="stylesheet" href="/css/common.scss">
    <link rel="stylesheet" href="/css/home.scss">
    <link rel="stylesheet" href="/css/_header.scss">
    <link rel="stylesheet" href="/css/_footer.scss">
</head>

<body id="body" onscroll="home()">
    <%- include('_header'); %>
        <div id="car_photo">
            <br><br><br><br><br><br><br><br><br><br><br>
            <span id="intro_1">We are...</span>
            <br><br><br><br>
            <span id="intro_21">Defianz</span>
            <span style="font-size: 5rem; margin: 0px 15px;">-</span>
            <span id="intro_22">DTUSDC</span>
            <br><br><br><br>
            <span id="intro_3">Racing</span>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <%- include('_footer'); %>
            <script type="text/javascript" src="/js/scroll.js"></script>
</body>

</html>
