<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TDR-SDC Website</title>
    <link rel="stylesheet" href="/css/home.scss">
    <link rel="stylesheet" href="/css/_header.scss">
    <link rel="stylesheet" href="/css/_footer.scss">
</head>

<body id="temp" onscroll="myFunction()">
    <%- include('_header'); %>
        <div id="car_photo">
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <%- include('_footer'); %>
            <script type="text/javascript" src="/js/scroll.js"></script>
</body>

</html>