<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sponsors list of Team Defianz DTUSDC Racing">
    <meta name="keywords"
        content="TDR-DTUSDC, Team Defianz Racing, defianz dtu, dtusdc dtu, DTUSDC, DTU Self-Drving Car, Team Defianz-DTU Self Driving Car Project, Official TDR-DTUSDC Website, Official website">
    <meta name="author" content="Krushnal Patel">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsors | TDR-DTUSDC</title>
    <link rel="stylesheet" href="/css/common.scss">
    <link rel="stylesheet" href="/css/sponsors.scss">
    <link rel="stylesheet" href="/css/_header.scss">
    <link rel="stylesheet" href="/css/_footer.scss">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/load.js"></script>
</head>

<body id="body" onload="load()">
    <div class="loader d-f ai-c jc-c"></div>
    <%- include('_header'); %>
        <main>
            <div class="d-f-c jc-c ai-c" id="sponsor_list">
                <span id="sponsor_heading">&numsp;Our&numsp;Golden&numsp;Sponsors </span>
                <div class="d-f jc-c" id="sponsor_div">
                    <%sponsors.forEach(function(sponsor){%>
                        <img src="<%= sponsor.logo %>">
                        <%});%>
                </div>
            </div>
        </main>
        <%- include('_footer'); %>
</body>

</html>