<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TDR-SDC Website</title>
    <link rel="stylesheet" href="/css/common.scss">
    <link rel="stylesheet" href="/css/sponsors.scss">
    <link rel="stylesheet" href="/css/_header.scss">
    <link rel="stylesheet" href="/css/_footer.scss">
</head>

<body id="body" onload="load()">
    <%- include('_header'); %>
        <main>
            <div>
                <span class="d-f-c ai-fe jc-c">
                    <!-- toggle dark-light mode switch -->
                </span>
            </div>
            <div class="d-f-c jc-c ai-c" id="sponsor_list">
                <span id="sponsor_heading">Featured Sponsors</span>
                <div class="d-f jc-c" id="sponsor_div">
                    <img src="/imgs/sponsors/dtu.png">
                    <img src="/imgs/sponsors/ktm.png">
                    <img src="/imgs/sponsors/droom.png">
                    <img src="/imgs/sponsors/ansys.png">
                    <img src="/imgs/sponsors/motul.png">
                    <img src="/imgs/sponsors/atul.png">
                    <img src="/imgs/sponsors/garret.png">
                    <img src="/imgs/sponsors/lab_jack.png">
                    <img src="/imgs/sponsors/sparco.svg">
                    <img src="/imgs/sponsors/aurora.png">
                    <img src="/imgs/sponsors/elite_techno.png">
                    <img src="/imgs/sponsors/shakti.webp">
                    <img src="/imgs/sponsors/simscale.png">
                    <img src="/imgs/sponsors/solidworks.png">
                    <img src="/imgs/sponsors/ebc.png">
                    <img src="/imgs/sponsors/scroth.png">
                    <img src="/imgs/sponsors/ricardo.png">
                    <img src="/imgs/sponsors/rekluse.png">
                    <img src="/imgs/sponsors/pro_shift.png">
                    <img src="/imgs/sponsors/matlab.png">
                    <img src="/imgs/sponsors/henkel.png">
                    <img src="/imgs/sponsors/dta_fast.jpg">
                    <img src="/imgs/sponsors/gamma_tech.png">
                    <img src="/imgs/sponsors/texas_instrument.png">
                    <img src="/imgs/sponsors/isr.jpg">
                    <img src="/imgs/sponsors/fraxus.jpg">
                    <img src="/imgs/sponsors/motec.png">
                    <img src="/imgs/sponsors/xps.jpg">
                    <img src="/imgs/sponsors/vactech.png">
                    <img src="/imgs/sponsors/metafil.gif">
                    <img src="/imgs/sponsors/c_and_r.png">
                </div>
            </div>

            <div class="divider"></div>

            <div class="d-f-c ai-c jc-c" id="sponsor_tier">
                <span id="tier_heading">Come onboard with us</span>
                <div class="d-f-r jc-c ai-c" id="tiers_list">
                    <div class="tier">
                        <div class="tier_inner">
                            <div class="tier_front d-f-c jc-c ai-c">
                                <h1>10000 rupya </h1>
                            </div>
                            <div class="tier_back d-f-c jc-c ai-c">
                                money money money
                            </div>
                        </div>
                    </div>
                    <div class="tier">
                        <div class="tier_inner">
                            <div class="tier_front d-f-c jc-c ai-c">
                                <h1>10000 rupya </h1>

                            </div>
                            <div class="tier_back d-f-c jc-c ai-c">
                                money money money

                            </div>
                        </div>
                    </div>
                    <div class="tier">
                        <div class="tier_inner">
                            <div class="tier_front d-f-c jc-c ai-c">
                                <h1>10000 rupya </h1>

                            </div>
                            <div class="tier_back d-f-c jc-c ai-c">
                                money money money

                            </div>
                        </div>
                    </div>
                    <div class="tier">
                        <div class="tier_inner">
                            <div class="tier_front d-f-c jc-c ai-c">
                                <h1>10000 rupya </h1>

                            </div>
                            <div class="tier_back d-f-c jc-c ai-c">
                                money money money

                            </div>
                        </div>
                    </div>
                    <div class="tier">
                        <div class="tier_inner">
                            <div class="tier_front d-f-c jc-c ai-c">
                                <h1>10000 rupya </h1>

                            </div>
                            <div class="tier_back d-f-c jc-c ai-c">

                                money money money
                            </div>
                        </div>
                    </div>
                    <div class="tier">
                        <div class="tier_inner">
                            <div class="tier_front d-f-c jc-c ai-c">
                                <h1>10000 rupya </h1>

                            </div>
                            <div class="tier_back d-f-c jc-c ai-c">
                                money money money

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include('_footer'); %>
            <script type="text/javascript" src="/js/scroll.js"></script>
            <script type="text/javascript" src="/js/load.js"></script>
</body>

</html>