<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TDR-SDC Website</title>
    <link rel="stylesheet" href="/css/common.scss">
    <link rel="stylesheet" href="/css/sponsors.scss">
    <link rel="stylesheet" href="/css/_header.scss">
    <link rel="stylesheet" href="/css/_footer.scss">
</head>

<body id="body" onload="load()">
    <%- include('_header'); %>
        <main>
            <div>
                <span class="d-f-c ai-fe jc-c">
                    <!-- toggle dark-light mode switch -->
                </span>
            </div>
            <div class="d-f-c jc-c ai-c" id="sponsor_list">
                <span id="sponsor_heading">Featured Sponsors</span>
                <div class="d-f jc-c" id="sponsor_div">
                    <%sponsors.forEach(function(sponsor){%>
                        <img src="<%= sponsor.logo %>">
                        <%});%>
                </div>
            </div>

            <div class="divider"></div>

            <div class="d-f-c ai-c jc-c" id="sponsor_tier">
                <span id="tier_heading">Come onboard with us</span>
                <div class="d-f-r jc-c ai-c" id="tiers_list">
                    <div class="tier">
                        <div class="tier_inner">
                            <div class="tier_front d-f-c jc-c ai-c">
                                <h1>SSC Tuatara</h1>
                            </div>
                            <div class="tier_back d-f-c jc-c ai-c">
                                Tier Perks
                            </div>
                        </div>
                    </div>
                    <div class="tier">
                        <div class="tier_inner">
                            <div class="tier_front d-f-c jc-c ai-c">
                                <h1>Bugatti Veyron</h1>

                            </div>
                            <div class="tier_back d-f-c jc-c ai-c">
                                Tier Perks

                            </div>
                        </div>
                    </div>
                    <div class="tier">
                        <div class="tier_inner">
                            <div class="tier_front d-f-c jc-c ai-c">
                                <h1>Lamborghini Aventador</h1>

                            </div>
                            <div class="tier_back d-f-c jc-c ai-c">
                                Tier Perks

                            </div>
                        </div>
                    </div>
                    <div class="tier">
                        <div class="tier_inner">
                            <div class="tier_front d-f-c jc-c ai-c">
                                <h1>Audi R8</h1>

                            </div>
                            <div class="tier_back d-f-c jc-c ai-c">
                                Tier Perks

                            </div>
                        </div>
                    </div>
                    <div class="tier">
                        <div class="tier_inner">
                            <div class="tier_front d-f-c jc-c ai-c">
                                <h1>Lexus LC.</h1>

                            </div>
                            <div class="tier_back d-f-c jc-c ai-c">

                                Tier Perks
                            </div>
                        </div>
                    </div>
                    <div class="tier">
                        <div class="tier_inner">
                            <div class="tier_front d-f-c jc-c ai-c">
                                <h1>Tata Nano</h1>

                            </div>
                            <div class="tier_back d-f-c jc-c ai-c">
                                Tier Perks

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include('_footer'); %>
            <script type="text/javascript" src="/js/scroll.js"></script>
            <script type="text/javascript" src="/js/load.js"></script>
</body>

</html>