header {
    all: none;
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
}

@keyframes scroll_down {
    0% {
        background-color: unset;
    }
    100% {
        background-color: white;
    }
}

@keyframes scroll_up {
    0% {
        background-color: white;
    }
    100% {
        background-color: unset;
    }
}

@keyframes logo_grow {
    0% {
        height: 13vh;
    }
    100% {
        height: 20vh;
    }
}

@keyframes logo_shrink {
    0% {
        height: 20vh;
    }
    100% {
        height: 13vh;
    }
}

#logo {
    height: 20vh;
    transform: translate(0%, -10%);
}

#nav_bar {
    width: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Play";
    font-size: 1.5rem;
    margin: 0vh 17vw;
}

#nav_bar a {
    margin: 0vh 1.5vw;
    width: max-content;
}

#login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Play";
    font-size: 1.5rem;
}

#login button {
    all: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.5);
    width: 6vw;
    height: 5vh;
    border-radius: 9999px;
}

#login button:hover {
    box-shadow: -2px 3px 5px;
    background-color: black;
    color: red;
}

body::-webkit-scrollbar {
    visibility: hidden;
    width: 0px;
}
