body {
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(241, 241, 241);
}


// background-image: url('/imgs/car.jpeg');
// background-size: 100vw 80vh;
// background-position: center;
// background-repeat: no-repeat;
