body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Play";
    background-color: #33333310;
}

a {
    text-decoration: none;
}

#heading_background {
    width: 100vw;
    height: 10vh;
}

main {
    width: 100vw;
    height: auto;
    padding: 5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-f-c {
    display: flex;
    flex-direction: column;
}

.d-f-r {
    display: flex;
    flex-direction: row;
}

.jc-c {
    justify-content: center;
}

.jc-c {
    justify-content: space-evenly;
}

.jc-sb {
    justify-content: space-between;
}

.ai-c {
    align-items: center;
}
