#contact_address {
    width: max-content;
}

#google_location {
    color: black;
}

#google_location:hover {
    color: -webkit-link;
}

.contact_heading {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: bolder;
}

.contact_descript {
    font-size: 1.1rem;
}

#contact_form {
    width: max-content;
    height: 50vh;
}

#form_heading {
    font-size: 2rem;
    font-weight: 900;
    margin: 2rem;
    text-transform: uppercase;
}

.input {
    all: unset;
    width: 280px;
    height: 4vh;
    border-bottom: 1px solid black;
    padding-left: 1rem;
    background-color: inherit;
    margin: 0.5rem 0;
}

#message {
    height: 10vh;
}

.placeholder {
    transform: translate(0.8vw, -3.8vh);
    transition: all 0.3s;
}

input:focus + span {
    transform: translate(-1.3vw, -6.5vh) scale(0.8);
}

input:focus + #message_label {
    transform: translate(-1.3vw, -12.5vh) scale(0.8);
}

label:hover {
    cursor: text;
}

.button {
    width: 120px;
    height: 45px;
    background-color: #1f50ffb6;
    color: white;
    font-size: 1.3rem;
    border: 1px #1f50ff00 solid;
    cursor: pointer;
    border: none;
    transition: all 0.2s;
}

.button:hover {
    color: #1f50ffb6;
    border: 1px #1f50ffb6 solid;
    background-color: white;
}

@media all and (max-width: 700px) {
    #main {
        flex-direction: column;
    }
    #contact_address {
        margin-bottom: 3rem;
    }
}