#gallery {
    width: 100vw;
    height: auto;
}

#gallery_heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 5vh;
}

#photos {
    flex-wrap: wrap;
    width: 70vw;
}

#photos img {
    max-width: 15vw;
    max-height: 30vh;
    margin: 1rem;
}
