#gallery {
    width: 100vw;
    height: auto;
}

#gallery_heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 5vh;
}

#photos {
    flex-wrap: wrap;
    width: 70vw;
}

#photos img {
    width: 15vw;
    height: 30vh;
    margin: 1rem;
    filter: brightness(0.4);
    transition: all 0.2s;
}

#photos img:hover {
    filter: none;
}