body {
    margin: 0;
    background-color: rgb(241, 241, 241);
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

@keyframes background_change {
    0%, 100% {
        background-image: url("https://defianzdtusdc.blob.core.windows.net/gallery/TDR_Cz.jpg");
    }
    5% {
        background-image: url("https://defianzdtusdc.blob.core.windows.net/gallery/TDR_Cz.jpg");
    }
    20% {
        background-image: url("/imgs/car.jpeg");
    }
    25% {
        background-image: url("/imgs/car.jpeg");
    }
    30% {
        background-image: url("/imgs/car.jpeg");
    }
    45% {
        background-image: url("https://defianzdtusdc.blob.core.windows.net/gallery/DR%20(2).JPG");
    }
    50% {
        background-image: url("https://defianzdtusdc.blob.core.windows.net/gallery/DR%20(2).JPG");
    }
    55% {
        background-image: url("https://defianzdtusdc.blob.core.windows.net/gallery/DR%20(2).JPG");
    }
    70% {
        background-image: url("https://defianzdtusdc.blob.core.windows.net/gallery/TDR_Cz2.jpg");
    }
    75% {
        background-image: url("https://defianzdtusdc.blob.core.windows.net/gallery/TDR_Cz2.jpg");
    }
    80% {
        background-image: url("https://defianzdtusdc.blob.core.windows.net/gallery/TDR_Cz2.jpg");
    }
    95% {
        background-image: url("https://defianzdtusdc.blob.core.windows.net/gallery/TDR_Cz.jpg");
    }

}

#car_photo {
    // background-image: url("https://defianzdtusdc.blob.core.windows.net/gallery/TDR_Cz.jpg");
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;
    font-weight: bold;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: background_change 20s infinite;
}

@keyframes changeBg {
    0%,
    100% {
        background-image: url("https://i.stack.imgur.com/YdrqG.png");
    }
    25% {
        background-image: url("https://i.stack.imgur.com/2wKWi.png");
    }
    50% {
        background-image: url("https://i.stack.imgur.com/HobHO.png");
    }
    75% {
        background-image: url("https://i.stack.imgur.com/3hiHO.png");
    }
}

#description {
    width: 100vw;
    height: fit-content;
    padding: 2.5vh 0;
    color: rgb(238, 232, 170);
    background-color: black;
}

#newsletter_section {
    width: 15vw;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    max-height: 40vh;
    padding: 2.5vh 0;
    height: fit-content;
    overflow-y: scroll;
}

#newsletter_section ul {
    width: 70%;
    padding-left: unset;
}

#newsletter_section li {
    margin: 2vh 0;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
}

#team_descriptions {
    width: 70vw;
}

#individual_team_descript {
    width: auto;
    margin: 5vh 0;
    align-items: baseline;
    font-size: 1.15rem;
    border-radius: 20px;
    font-family: "Play";
}

#defianz_descript {
    width: 45%;
    padding: 0 0 0px 20px;
    box-shadow: #ffc42e -5px 5px, #ffc42e80 -10px 10px, #ffc42e3d -15px 15px, #ffc42e17 -20px 20px, #ffc42e00 -25px 25px;
    height: 35vh;
    box-shadow: #b8860b;
}
#sdc_descript {
    height: 35vh;
    width: 45%;
    padding: 0 20px 8px 0;
    box-shadow: #ffc42e 5px 5px, #ffc42e80 10px 10px, #ffc42e3d 15px 15px, #ffc42e17 20px 20px, #ffc42e00 25px 25px;
}

#merge_team_descript {
    width: 80%;
    height: auto;
    margin: 3rem 0;
    padding: 0vh 9rem;
    box-sizing: border-box;
    color: black;
    font-weight: 700;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 196, 46, 1) 13%,
        rgba(207, 170, 1, 0.811922268907563) 33%,
        rgba(252, 194, 60, 1) 50%,
        rgba(207, 170, 1, 0.811922268907563) 67%,
        rgba(255, 196, 46, 1) 87%,
        rgba(0, 0, 0, 0) 100%
    );
}

#merge_team_descript p {
    font-size: 1.3rem;
}
