main {
    padding: 15vh 10vw;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

#profile {
    margin-right: 5vw;
}

#profile_photo {
    border: 2px solid black;
    width: 12vw;
    height: 25vh;
    margin-right: 3vw;
}

#details {
    font-size: 1.2rem;
    text-align: left;
}

#details span span {
    font-weight: 700;
}

#details span {
    margin: 0.2rem 0;
}

#password {
    color: transparent;
    text-shadow: 0 0 8px #000;
}

#password:hover {
    color: black;
    text-shadow: none;
    cursor: default;
}

#create_form {
    height: 40vh;
    width: 25vw;
    border: 2px solid black;
    padding: 1rem 2rem;
    margin: 2rem 0;
    border-radius: 10px;
    background-color: rgb(238, 255, 255);
    transform: translate(0%, -10%);
}

#create_form form {
    flex-wrap: wrap;
}

#update_credentials {
    height: 30vh;
    width: 15vw;
    margin: 2rem 5rem;
    border: 2px solid black;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: rgb(238, 255, 255);
    transform: translate(0%, -10%);
}

.update_details {
    all: unset;
    border-bottom: 2px solid black;
    margin: 2rem 1rem;
}

#submit {
    all: unset;
    border: 1px solid black;
    background-color: rgba(0, 110, 255, 0.8);
    border-radius: 100px;
    font-weight: 900;
    width: 5rem;
    height: 2rem;
    cursor: pointer;
    margin: 1rem;
    text-align: center;
}

#management {
    all: initial;
}
