body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Play";
    background-color: #33333310;
}

a {
    text-decoration: none;
}

#heading_background {
    width: 100vw;
    height: 5vh;
}

main {
    width: 100vw;
    height: auto;
    padding: 5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dark_mode span {
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 5vh;
    align-items: flex-end;
    justify-content: center;
}

#sponsor_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
}

#sponsor_heading {
    font-size: 3rem;
    font-weight: 900;
    color: #ffd700;
    text-transform: uppercase;
    margin: 5vh 0;
}

#sponsor_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#sponsor_div img {
    padding: 2rem;
    max-width: 15vw;
    max-height: 10vh;
}

.divider {
    background-color: black;
    width: 60vw;
    height: 0.5vh;
    margin: 10vh 0;
}

#sponsor_tier {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tier_heading {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 5vh;
    text-transform: uppercase;
}

#tiers_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tier {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 2rem;
}

.tier_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tier:hover .tier_inner {
    transform: rotateY(180deg);
}

.tier_front,
.tier_back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tier_front {
    background-color: #bbb;
    color: black;
}

.tier_back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}
